---
import MainLayout from '@/layouts/Main.astro';
---
<MainLayout>
    <h2>Funeral Information:</h2>

    <a href="/RJP-funeral-info-doc.pdf" download>Download Directions</a>

    <p>Saturday, October 7, 2023</p>

    <p>12:30 P.M.</p>

    <p>
        Forest Lawn Memorial Parks & Mortuary<br/>
        4471 Lincoln Avenue<br/>
        Cypress, CA 90630
    </p>

    <h3>Location & Service Details:</h3>

    <p>Enter through the main entrance, turn right on first road, turn right again on first road. There will be steps on the left-hand side to the Garden of Protection by the Statue of David.</p>

    <p>There will be a pastor-guided service with music and time for people to speak if they so desire. A tent with a limited number of preset chairs will be available. If you require seating we would appreciate you bringing your own so we can accommodate as many attendees as possible.</p>

    <h3>Reception & Remembrances:</h3>

    <p>Following the service there will be a table set up with baked goods and water so guests can pay their respects and share memories together. There will also be a guestbook and pamphlets available with pictures of Bob over the years.</p>

    <h3>Contact Information:</h3>
    <p>
        Sandy Potter (wife): sandy.potter@att.net or 714-727-8252<br />
        Justin & Jennifer Beaty (daughter/son-in-law): justin.beaty@gmail.com
    </p>


</MainLayout>
