@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply text-stone-800;
  }

  header {

    @apply py-[10px] px-8 mx-auto;

    @apply md:h-[240px] max-w-[1500px];
    background: url('/banner.jpg') center center no-repeat;
    background-size: auto 100%;


    @apply text-stone-100 text-center md:text-left;

    h1 {
      @apply text-4xl md:text-7xl md:mt-4 md:mb-8;
      @apply drop-shadow-[5px_5px_5px_rgba(0,0,0,0.75)];
    }
    h2 {
      @apply text-xl;
      @apply drop-shadow-[2px_2px_2px_rgba(0,0,0,0.75)];
    }
    img {
      @apply inline md:float-right;
      @apply w-auto h-[200px] rounded-lg;
      @apply drop-shadow-[5px_5px_5px_rgba(0,0,0,0.75)];
    }
  }


  main {
    @apply max-w-[1500px] !important;
    @apply mx-auto my-8 p-8;
    @apply bg-stone-100;

  }
#gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
}
#gallery::after {
  content: "";
  flex: auto;
}

}
