@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply px-4 text-stone-800;

    & > * {
      @apply bg-stone-100 rounded-lg shadow-md my-4;
    }
  }



  header {

    @apply py-2.5 px-8 mx-auto;

    @apply md:h-[240px] max-w-screen-2xl;
    background: url('/banner.jpg') center center no-repeat;
    background-size: auto 100%;


    @apply text-stone-100 text-center md:text-left;

    h1 {
      @apply text-4xl md:text-7xl md:mt-4 md:mb-8;
      @apply drop-shadow-[5px_5px_5px_rgba(0,0,0,0.75)];
    }
    h2 {
      @apply text-xl;
      @apply drop-shadow-[2px_2px_2px_rgba(0,0,0,0.75)];
    }
    img {
      @apply inline md:float-right;
      @apply w-auto h-[200px] rounded-lg;
      @apply drop-shadow-[5px_5px_5px_rgba(0,0,0,0.75)];
    }
  }

  nav {
    @apply max-w-screen-2xl mx-auto py-2.5 px-8;

    @apply flex gap-4;
    a {
      @apply px-2 py-1 rounded-md;
      &.active {
        @apply bg-stone-200;
      }
      &:hover {
        @apply bg-stone-800 text-stone-100;
      }
    }
  }

  main {
    @apply max-w-screen-2xl !important;
    @apply mx-auto px-8 py-6;
  }


  #gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
  }
  #gallery::after {
    content: "";
    flex: auto;
  }

}
