---
import { Image } from 'astro:assets';

import '../css/index.css'
import BobProfile from '@/assets/bob-profile.jpg'

---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <script src="../js/index.js"></script>

        <title>Robert J. Potter</title>
    </head>
    <body>
        <header>
            <div>
                <h1>Robert J. Potter</h1>
                <h2>Nov 5th 1953 &ndash; Sep 11th 2023</h2>
            </div>
            <div>
                <Image src={BobProfile} alt="Robert Potter" />
            </div>
        </header>
        <main class="prose lg:prose-xl prose-slate">

            <slot />
        </main>
    </body>
</html>
