---
import '../css/index.css'
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <script src="../js/index.js"></script>

        <title>Robert J. Potter</title>
    </head>
    <body>
        <header>
            <h1>Robert J. Potter</h1>
            <p>Nov 5th 1953 &ndash; Sep 11th 2023</p>
        </header>
        <main>

            <slot />
        </main>
    </body>
</html>
