---
import { Image } from 'astro:assets';

import '@/css/index.css'
import BobProfile from '@/assets/bob-profile.jpg'

import { Navigation } from 'astro-headless-ui';

const links = {
    active: { class: 'active' },
    defaults: { class: 'link' },
    links: [
        {
            text: 'About',
            href: '/'
        },
        {
            text: 'Gallery',
            href: '/gallery/'
        },
        {
            text: 'Stories',
            href: '/stories/'
        }
    ]
}

---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <script src="../js/index.js"></script>

        <title>Robert J. Potter</title>
    </head>
    <body>
        <header>
            <Image src={BobProfile} alt="Robert Potter" />
            <h1>Robert J. Potter</h1>
            <h2>Nov 5th 1953 &ndash; Sep 11th 2023</h2>
        </header>
        <nav>
            <Navigation {...links}/>
        </nav>
        <main class="prose lg:prose-xl prose-slate">

            <slot />
        </main>
    </body>
</html>
